doctype html
html(lang="en")
  head
    link(rel="stylesheet", href="../style.css")
    title A simple counter #{title}
  body
    div.recipe
      a(href="index.pug" class="go-back") back
      h1 A simple counter
      p As minimal as it gets for a component with state. A button incrementing a number.
      p: a(href='https://github.com/tentjs/cookbook/tree/main/src/components/counter.ts') [source]
      hr
    script(type="module", src="../components/counter.ts")
    include ../_includes/footer.pug
