doctype html
html(lang="en")
  head
    link(rel="stylesheet", href="../style.css")
    title ⛺ Tent Cookbook
    style.
      .container {
        max-width: 400px;
        margin: 0 auto;
      }

      h1 {
        text-align: center;
        margin-top: 128px;
        margin-bottom: 60px;
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: 4px;
      }
  body
    div.container
      h1 ⛺ Tent
      h2 Cookbook
      p.
        This is the official cookbook for Tent. It's purpose is to showcase
        how Tent was intended to be used. As a "best practice" guide.
      p.
        Each recipe will have the <em>minimal</em> styling required, and is written
        in Typescript which is <strong>not</strong> a requirement.
      hr
      ul
        li: a(href="counter.pug") A simple counter
        li: a(href="todo.pug") The classic To-do list
        li: a(href="attributes.pug") Pass data to component
        li: a(href="async-list.pug") Fetch data from API
        li: a(href="storage.pug") Use session-/local storage
