doctype html
html(lang="en")
  head
    link(rel="stylesheet", href="../style.css")
    title The classic To-do list #{title}
  body
    div.recipe
      a(href="index.pug" class="go-back") back
      h1 The classic To-do list
      p.
        The traditional to-do list. Here we're using a couple of input events and CSS Modules.
      p: a(href='https://github.com/tentjs/cookbook/tree/main/src/components/to-do.ts') [source]
      hr
    script(type="module", src="../components/todo.ts")
