.label {
    border-radius: var(--radius-round);
    padding: 4px 8px;
}

.primary {
    background-color: var(--color-primary);
    color: var(--color-white);
}

.secondary {
    background-color: var(--color-white);
    color: var(--color-black);
}