:root {
  --color-primary: #f07900;

  --color-white: #eef1ef;
  --color-white-fade: #eef1ef20;
  --color-black: #111111;

  --color-grey-100: #2b2b2b;
  --color-grey-200: #242424;

  --color-pink-100: #dcc6e0;

  --font: -apple-system, BlinkMacSystemFont, 'Noto Sans', sans-serif;

  --radius: 6px;
  --radius-round: 12px;
}

body {
  background-color: var(--color-black);
  font-family: var(--font);
  color: var(--color-white);
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  padding-bottom: 50px;
}

h1 {
  font-size: 38px;
  font-weight: 900;
  line-height: 1;
}

hr {
  border-color: var(--color-grey-100);
  border-style: solid;
  margin: 2em 0;
}

* {
  box-sizing: border-box;
}

a {
  color: var(--color-white);
  text-decoration: underline;
}

button {
  font-size: 14px;
  padding: 4px 8px;
  border-radius: 6px;
  border: 0;
  background-color: var(--color-white);
  border: 2px solid var(--color-white);
  color: var(--color-grey-100);
  cursor: pointer;
}

ul {
  padding-left: 12px;
}

.recipe {
  max-width: 400px;
  margin: 0 auto;
  padding: 128px 12px 0 12px;

  h1 {
    margin-top: 0;
  }

  @media (max-width: 550px) {
    padding-top: 68px;
  }
}

.go-back {
  margin-bottom: 8px;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
}

.footer {
  position: fixed;
  bottom: 14px;
  left: 50%;
  transform: translateX(-50%);
  padding: 4px 6px;
  border-radius: var(--radius);
  background-color: var(--color-black);

  a {
    text-decoration: none;
  }
}
