:root {
  --color-primary: #ffa07a;

  --color-white: #eef1ef;

  --color-grey-100: #2b2b2b;
  --color-grey-200: #242424;

  --color-pink-100: #dcc6e0;
}

body {
  background-color: var(--color-grey-100);
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color: var(--color-white);
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 38px;
  font-weight: 900;
  line-height: 1;
}

hr {
  border-color: var(--color-pink-100);
  margin: 1.5em 0;
}

* {
  box-sizing: border-box;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

button {
  font-size: 14px;
  padding: 4px 8px;
  border-radius: 6px;
  border: 0;
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary);
  color: var(--color-grey-100);
  cursor: pointer;
}

ul {
  padding-left: 12px;
}

.recipe {
  max-width: 400px;
  margin: 0 auto;
  padding-top: 128px;

  h1 {
    margin-top: 0;
  }
}

.go-back {
  margin-bottom: 8px;
  display: inline-block;
}
